@charset "UTF-8";

nav {
    padding: 10px;
    margin: 8px;
}
nav > p {
    display: inline;
    background-color: black;
    color: white;
}
nav.naologado {
    background-color: rgb(233, 202, 117);
}
nav.logado {
    background-color: aqua;
}

a {
    border: 20px;
    padding: 10px;
}